/* font-family: 'Gelasio', serif main ;
font-family: 'Solway', serif porduct name;
font-family: 'Bebas Neue', cursive; heading*/
:root{
    --darkColor:#2c3e50;
    --lightColor:#ecf0f1;
    --mainRed:#e74c3c;
    --mainBlue:#7ed6df;
    --mainGray:rgba(189, 195, 199,1.0);
}
*:focus {
    outline: none;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Gelasio', serif;
    background:#bdc3c7;
}
.row {
 margin-right: 0px; 
 margin-left: 0px;
}
.search , .search:focus {
    display:inline-block;
    background: transparent;
    border: none;
    color:#fff;
}

li {
    margin: 5px;
}
.header {
    overflow: hidden;
}
.header-content {
    padding-top: 50px;
}
.header-content p , .detail > p {
    color: #2c3e50;
    line-height: 1.9;
}
.header .header-img img{
    max-width: 90%;
    max-height: 80%;
}
h1 span  {
    color: var(--mainRed);
}
.detail p > span {
    color: var(--mainRed);
    font-size: 20px;
    font-weight: 600;
}
.card {
    padding: 5px 10px ;
    height: 400px;
    column-gap: 10px;
    border: none;
}
.card .card-img-top{
   height: 62%;
   max-width: 100%;
}
.price {
    font-size: 20px;
}
.my-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%,-50%);
    background-color: #34495e;
    color: #fff;
    overflow: hidden;
}
.modal-img {
    width: 100%;
    height: 50%;
}
.modal-img img {
    width: 100%;
    height: 100%;
}
.btn-black{
    background: transparent;
    text-transform: capitalize;
    font-size:.8rem !important;
    color: var(--darkColor);
    border-radius: 0;
    border: .1rem solid var(--darkColor);

}
.btn-black:hover {
    background:var(--darkColor);
    color : var(--lightColor)
}